body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: rgb(252, 243, 221);
  font-family: "Audiowide", cursive;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Opera and Firefox */
}

.dontdisplay {
    display: none !important;
}

#main-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#root {
  display: flex;
  justify-content: center;
}

#try-again-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    height: 100px;
    border: 1px solid #922bd6;
    /* border-radius: 25px; */
    background: radial-gradient(#2a0642, black);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 40px;

    -webkit-box-shadow: 0px 0px 49px 5px rgba(146,43,214,1);
    -moz-box-shadow: 0px 0px 49px 5px rgba(146,43,214,1);
    box-shadow: 0px 0px 49px 5px rgba(146,43,214,1);
}

#try-again-container h5 {
    color: rgb(252, 243, 221);
    padding: 10px;
    letter-spacing: 2px;
    font-size: 25px;
}

td {
  max-height: 6.25vw;
  min-height: 6.25vh;
  max-width: 6.25vh;
  min-width: 6.25vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 50%;

  background-color: #1d31a3;
}

.cell-content {
  max-height: 6.25vw;
  min-height: 6.25vh;
  max-width: 6.25vh;
  min-width: 6.25vh;
  box-sizing: border-box;
}

p {
  margin: 15px;
  color: black;
}

.snake {
  background-color: rgba(255, 248, 122, 1);
  -webkit-box-shadow: 0px 0px 25px -4px rgba(255, 248, 122, 1);
  -moz-box-shadow: 0px 0px 25px -4px rgba(255, 248, 122, 1);
  box-shadow: 0px 0px 25px -4px rgba(255, 248, 122, 1);
}

.food {
  background-color: rgba(240, 163, 255, 1);
  -webkit-box-shadow: 0px 0px 38px -4px rgba(240, 163, 255, 1);
  -moz-box-shadow: 0px 0px 38px -4px rgba(240, 163, 255, 1);
  box-shadow: 0px 0px 38px -4px rgba(240, 163, 255, 1);
}

.fire {
    background-color: #fcba03;
    -webkit-box-shadow: 0px 0px 38px -4px rgba(252,186,3,1));
    -moz-box-shadow: 0px 0px 38px -4px rgba(252,186,3,1));
    box-shadow: 0px 0px 38px -4px rgba(252,186,3,1); 
}