body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: rgb(252, 243, 221);
  font-family: "Audiowide", cursive;
}

#main-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#root {
  display: flex;
  justify-content: center;
}

td {
  max-height: 6.25vw;
  min-height: 6.25vh;
  max-width: 6.25vh;
  min-width: 6.25vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 50%;

  background-color: #1d31a3;
}

.cell-content {
  max-height: 6.25vw;
  min-height: 6.25vh;
  max-width: 6.25vh;
  min-width: 6.25vh;
  box-sizing: border-box;
}

p {
  margin: 15px;
  color: black;
}

.snake {
  background-color: rgba(255, 248, 122, 1);
  -webkit-box-shadow: 0px 0px 25px -4px rgba(255, 248, 122, 1);
  -moz-box-shadow: 0px 0px 25px -4px rgba(255, 248, 122, 1);
  box-shadow: 0px 0px 25px -4px rgba(255, 248, 122, 1);
}

.food {
  background-color: rgba(240, 163, 255, 1);
  -webkit-box-shadow: 0px 0px 38px -4px rgba(240, 163, 255, 1);
  -moz-box-shadow: 0px 0px 38px -4px rgba(240, 163, 255, 1);
  box-shadow: 0px 0px 38px -4px rgba(240, 163, 255, 1);
}
